.crossout {
  text-decoration:line-through;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  font-family: monospace;
  font-size: 16px;
}

.collapse {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bolder;
}

.content {
  width: 75%;
  padding-right: 30px;
  padding-left: 15px;
}
.content p {
  line-height: 1.2em;
}

.navbar {
  padding: 0px 24px 0px 0px;
  margin-right: 12px;
  margin-top: 36px;
  font-size: 20px;
  width: 25%;
  text-align: right;
  font-family: monospace;
  font-weight: bolder;
  overflow: hidden;
}

.navbar ul {
  list-style: none;
  padding: 0;
}
.navbar li {
  padding: 4px 12px;
  width: 100%;
}
.navbar a {
  text-decoration: none;
  padding: 0px 10px;
  color: inherit;
}

.navbar a:hover {
  letter-spacing: 3.5px;
  padding-right: 8px;
  /* font-weight: bold; */
}
.navbar a:active {
  letter-spacing: 3.5px;
  /* font-weight: bold; */
}
.navbar span {
  letter-spacing: initial;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery img {
  padding-bottom: 12px;
}


